.container {
  margin: 0 auto;
  color: red;
  height:40%;
  width:40%;
  border:1px solid black;
  display:block;
}

body {
  height:1000px;
}

.display {
  margin:5px auto;
  display:block;
  height:20%;
  width:90%;
  border:1px solid red;
}

.button {
  margin:1% auto;
  display:inline-block;
  height:80%;
  width:31%;
  border:1px solid black;
  text-align:center
}

.row {
  margin :5px auto;
  display:block;
  height:14%;
  width:90%;
  /*border:1px solid brown;*/
}
